<style>
p {
    font: 'Libre Baskerville', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    max-width: 800;
}
</style>

<p>It is possible to reduce the number of tests even more by using additional stages of pooling. So instead of retesting every person within a pool if the pool tests positive, the pool is split into smaller pools. Furthermore, by using different estimates of the infection rate for different subgroups of the population (instead of using a uniform probability as above) and different estimates of the correlation of infection, we can achieve an even greater reduction. Since the infection rate would be much higher among some groups than others (eg people working at a hospital compared to people working from home) and since people within some groups have a high correlation of infection (eg people living together), if we are able to identify those high-risk groups of people who are likely to test positive and keep them out of large pools, the number of tests will be significantly lower.</p>